Repository icon-project/icon-bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bbist, @pragyanshrestha-ibriz, @sdpisreddevil, @izyak, @manishbista28, @andrii-kl, @dwdraju

.github/CODEOWNERS:

# global owners: used as fallback if nobody owns the code
* @bbist @pragyanshrestha-ibriz

# solidity
/solidity/ @sdpisreddevil

# javascore
/javascore/ @izyak

# golang
/cmd/ @manishbista28 @andrii-kl

# golang: iconbridge
/cmd/iconbridge/ @manishbista28 @andrii-kl

# golang: e2etest
/cmd/e2etest/ @manishbista28

# docs
/doc/ @pragyanshrestha-ibriz

# devops
.github/ @dwdraju

feat(bsh): implement blacklist service type (#437)
  rust/near/bmc/tests/test_messaging.rs
  rust/near/bsh/bts/src/lib.rs
  rust/near/bsh/bts/src/messaging.rs
  rust/near/libraries/src/types/messages/token_service.rs
Owners: @bbist, @pragyanshrestha-ibriz

feat(bsh): add tokenlimit lib
  rust/near/bsh/bts/src/lib.rs
Owners: @bbist, @pragyanshrestha-ibriz

updates to scripts
  cmd/e2etest/chain/bsc/api.go
  cmd/e2etest/chain/bsc/requests.go
  cmd/e2etest/chain/hmny/api.go
  cmd/e2etest/chain/icon/api.go
  cmd/e2etest/chain/types.go
  cmd/e2etest/endpoint_test.go
  cmd/e2etest/example-config.json
  cmd/e2etest/executor/executor.go
  cmd/e2etest/executor/executor_test.go
  cmd/e2etest/executor/flow.go
  cmd/e2etest/executor/scripts.go
  cmd/e2etest/executor/testsuite.go
  cmd/iconbridge/chain/icon/client.go
Owners: @manishbista28, @andrii-kl

feat: BTSCore solidity upgrade script #438
  devnet/docker/icon-bsc/scripts/upgrade_btsCore.sh
  solidity/bts/migrations/4_upgrade_btsCore.js
Owners: @bbist, @pragyanshrestha-ibriz, @sdpisreddevil

feat(bts): token limit for list of tokens for user transfers (#434)
  rust/btp-common/src/error.rs
  rust/near/bsh/bts/src/assertion.rs
  rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/src/lib.rs
  rust/near/libraries/src/types/mod.rs
  rust/near/libraries/src/types/tokenlimit.rs
Owners: @bbist, @pragyanshrestha-ibriz

add verify method before executing verifier update
  cmd/iconbridge/chain/icon/receiver.go
Owners: @manishbista28, @andrii-kl

Update .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/bug.md
Owners: @dwdraju

Update .github/ISSUE_TEMPLATE/test-scenario.md
  .github/ISSUE_TEMPLATE/test-scenario.md
Owners: @dwdraju

Update user-story.md
  .github/ISSUE_TEMPLATE/user-story.md
Owners: @dwdraju

Delete feature.md
  .github/ISSUE_TEMPLATE/feature.md
Owners: @dwdraju

Delete epic.md
  .github/ISSUE_TEMPLATE/epic.md
Owners: @dwdraju

delete yarn.lock
  solidity/bts/yarn.lock
Owners: @sdpisreddevil

Create pull_request_template.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Owners: @dwdraju

Update upgrade migration file for btsCore on local deployment
  solidity/bts/migrations/4_upgrade_btsCore.js
Owners: @sdpisreddevil

Update pull_request_template.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Owners: @dwdraju

chore: add dependency review and update gitignore
  .github/workflows/dependency-review.yml
  .gitignore
Owners: @dwdraju, @bbist, @pragyanshrestha-ibriz

chore: lint prs with conventional commits
  .github/workflows/lint-pr.yml
Owners: @dwdraju

refactor api methods
  cmd/iconbridge/chain/near/api.go
  cmd/iconbridge/chain/near/client.go
  cmd/iconbridge/chain/near/receiver.go
  cmd/iconbridge/chain/near/sender.go
  cmd/iconbridge/chain/near/tests/mock/factory.go
  cmd/iconbridge/chain/near/tests/tests.go
  cmd/iconbridge/chain/near/types/access_key.go
  cmd/iconbridge/chain/near/types/call_function.go
  cmd/iconbridge/chain/near/types/chain_status.go
  cmd/iconbridge/chain/near/types/common.go
  cmd/iconbridge/chain/near/types/nonce.go
Owners: @manishbista28, @andrii-kl

token register ga
  .github/workflows/deploy-token-javascore.yml
Owners: @dwdraju

token register ga
  .github/workflows/deploy-token-javascore.yml
Owners: @dwdraju

added parser
  cmd/e2etest/chain/bsc/abi/bmcperiphery/bmcperiphery_gen.go
  cmd/e2etest/chain/bsc/abi/hrc20/hrc20_gen.go
  cmd/e2etest/chain/bsc/api.go
  cmd/e2etest/chain/bsc/finder.go
  cmd/e2etest/chain/bsc/parser.go
  cmd/e2etest/chain/bsc/requests.go
  cmd/e2etest/chain/hmny/api.go
  cmd/e2etest/chain/hmny/finder.go
  cmd/e2etest/chain/icon/api.go
  cmd/e2etest/chain/icon/finder.go
  cmd/e2etest/chain/icon/parser.go
  cmd/e2etest/chain/icon/requests.go
  cmd/e2etest/chain/types.go
  cmd/e2etest/example-config.json
  cmd/e2etest/executor/executor.go
  cmd/e2etest/executor/executor_test.go
  cmd/e2etest/executor/flow.go
  cmd/e2etest/executor/scripts.go
  cmd/e2etest/executor/testsuite.go
Owners: @manishbista28

feat(bts): Implement RequestChangeTokenLimit Service type
  rust/near/libraries/src/types/messages/token_service.rs
Owners: @bbist, @pragyanshrestha-ibriz

basic scripts for tokenlimit and blacklist
  cmd/e2etest/chain/bsc/api.go
  cmd/e2etest/chain/hmny/api.go
  cmd/e2etest/chain/icon/api.go
  cmd/e2etest/chain/types.go
  cmd/e2etest/example-config.json
  cmd/e2etest/executor/executor_test.go
  cmd/e2etest/executor/flow.go
  cmd/e2etest/executor/scripts.go
  cmd/e2etest/executor/testsuite.go
Owners: @manishbista28

transferBatch
  cmd/e2etest/chain/bsc/abi/btscore/btscore_gen.go
  cmd/e2etest/chain/bsc/api.go
  cmd/e2etest/chain/bsc/requests.go
  cmd/e2etest/chain/hmny/api.go
  cmd/e2etest/chain/icon/api.go
  cmd/e2etest/chain/icon/requests.go
  cmd/e2etest/chain/types.go
  cmd/e2etest/executor/executor_test.go
  cmd/e2etest/executor/flow.go
  cmd/e2etest/executor/scripts.go
Owners: @manishbista28

add fee gathering watcher script
  cmd/e2etest/chain/bsc/api.go
  cmd/e2etest/chain/bsc/finder.go
  cmd/e2etest/chain/hmny/api.go
  cmd/e2etest/chain/hmny/finder.go
  cmd/e2etest/chain/icon/api.go
  cmd/e2etest/chain/icon/finder.go
  cmd/e2etest/chain/icon/parser.go
  cmd/e2etest/chain/icon/requests.go
  cmd/e2etest/chain/types.go
  cmd/e2etest/example-config.json
  cmd/e2etest/executor/executor.go
  cmd/e2etest/executor/executor_test.go
  cmd/e2etest/executor/flow.go
  cmd/e2etest/executor/scripts.go
  cmd/e2etest/executor/testsuite.go
  cmd/e2etest/executor/types.go
Owners: @manishbista28

fix(bts): fix set token limit logic
  rust/near/bsh/bts/src/coin_management.rs
  rust/near/libraries/src/types/tokenlimit.rs
Owners: @bbist, @pragyanshrestha-ibriz

test(bts): Add tests for set token limit
  rust/near/bsh/bts/tests/test_coin_management.rs
Owners: @bbist, @pragyanshrestha-ibriz

test(bts): update test cases
  rust/near/bsh/bts/tests/test_coin_management.rs
  rust/near/j.json
  rust/near/key_secret
  rust/near/keystore.json
Owners: @bbist, @pragyanshrestha-ibriz

revert(bts): update test cases
  rust/near/bsh/bts/tests/test_coin_management.rs
Owners: @bbist, @pragyanshrestha-ibriz

revert(bts): remove files
  rust/near/j.json
  rust/near/key_secret
  rust/near/keystore.json
Owners: @bbist, @pragyanshrestha-ibriz

revert(bts) : Remove Json files
  rust/near/j.json
  rust/near/key_secret
  rust/near/keystore.json
Owners: @bbist, @pragyanshrestha-ibriz

fix(bts): token_limit
  rust/near/libraries/src/types/mod.rs
  rust/near/libraries/src/types/token_limit.rs
Owners: @bbist, @pragyanshrestha-ibriz

feat(bts): Implement RequestChangeTokenLimit Service type (#456)
  rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/tests/test_coin_management.rs
  rust/near/libraries/src/types/messages/token_service.rs
  rust/near/libraries/src/types/mod.rs
  rust/near/libraries/src/types/token_limit.rs
Owners: @bbist, @pragyanshrestha-ibriz

feat(bts): Implement logging for event data as Json string
  rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/src/lib.rs
  rust/near/bsh/bts/src/messaging.rs
Owners: @bbist, @pragyanshrestha-ibriz

add txnRecord
  cmd/e2etest/executor/flow.go
  cmd/e2etest/executor/scripts.go
  cmd/e2etest/executor/testsuite.go
  cmd/e2etest/executor/types.go
Owners: @manishbista28
