Repository icon-project/icon-bridge, pull requests merged in 2022-10, with the labels that each got.

#550 fix(bts): add coin id map from the previous state
  rust/near/bsh/bts/src/accounting.rs
  rust/near/bsh/bts/src/upgrade.rs
Labels: team: hugobyte

#554 feat(bts): change vec<u8> to u832 for coin id
  rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/src/lib.rs
  rust/near/bsh/bts/src/upgrade.rs
  rust/near/bsh/bts/src/util.rs
  rust/near/bsh/bts/tests/test_coin_management.rs
  rust/near/bsh/bts/tests/test_coin_transfer.rs
  rust/near/bsh/bts/tests/test_handle_transfer_request.rs
  rust/near/bsh/bts/tests/test_token_management.rs
  rust/near/bsh/bts/tests/test_token_transfer.rs
  rust/near/libraries/src/types/asset.rs
  rust/near/libraries/src/types/asset_fee.rs
  rust/near/libraries/src/types/assets.rs
  rust/near/libraries/src/types/balance.rs
  rust/near/libraries/src/types/coin_ids.rs
  rust/near/libraries/src/types/messages/token_service.rs
Labels: team: hugobyte

#571 feat(e2e): add chain api rpc client for e2e test
  cmd/e2etest/chain/near/api.go
  cmd/e2etest/chain/near/api_test.go
  cmd/e2etest/chain/near/client.go
  cmd/e2etest/chain/near/finder.go
  cmd/e2etest/chain/near/parser.go
  cmd/e2etest/chain/near/register_api.go
  cmd/e2etest/chain/near/requests.go
  cmd/e2etest/chain/types.go
  cmd/e2etest/executor/executor_test.go
  cmd/e2etest/main.go
  cmd/iconbridge/chain/near/api.go
  cmd/iconbridge/chain/near/client.go
  cmd/iconbridge/chain/near/receiver.go
  cmd/iconbridge/chain/near/receiver_test.go
  cmd/iconbridge/chain/near/register_relay.go
  cmd/iconbridge/chain/near/sender.go
  cmd/iconbridge/chain/near/sender_test.go
  cmd/iconbridge/chain/near/tests/get_bmc_status.go
  cmd/iconbridge/chain/near/tests/mock/mock_api.go
  cmd/iconbridge/chain/near/types/chunk.go
  cmd/iconbridge/chain/near/types/common.go
  go.mod
  go.sum
Labels: team: hugobyte, go

#567 feat(bts): update handle btp message to handle messages of type token limitation
  rust/near/bmc/tests/test_messaging.rs
  rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/src/messaging.rs
  rust/near/bsh/bts/src/transfer.rs
  rust/near/bsh/bts/tests/test_blacklist_management.rs
  rust/near/bsh/bts/tests/test_token_management.rs
  rust/near/bsh/bts/tests/test_token_transfer.rs
  rust/near/bsh/bts/tests/token.rs
  rust/near/libraries/src/types/messages/token_service.rs
  rust/near/libraries/src/types/token_limit.rs
Labels: team: hugobyte, rust, module: service handler

#568 test(bmc): Add test for relayers #551
  javascore/bmc/src/test/java/foundation/icon/btp/bmc/AbstractBTPMessageCenterTest.java
  javascore/bmc/src/test/java/foundation/icon/btp/bmc/BTPMessageCenterTest.java
Labels: type: test, team: ibriz, status: completed

#553 test(bmc): Verify content of Message eventlog generated by BMC
  javascore/bmc/src/test/java/foundation/icon/btp/bmc/AbstractBTPMessageCenterTest.java
  javascore/bmc/src/test/java/foundation/icon/btp/bmc/BTPMessageCenterTest.java
Labels: type: test, team: ibriz, status: completed

#593 fix(build): lowercase-keys module requires different node version (#592)
  solidity/bts/yarn.lock
Labels: type: bug, dependencies, team: ibriz, status: triage needed, priority: high, module: service handler

#590 fix(bts): update get_token_limit to public method
  rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/tests/test_blacklist_management.rs
  rust/near/bsh/bts/tests/test_coin_management.rs
Labels: team: hugobyte, rust

#591 fix(bts): Update blacklist methods to public
  rust/near/bsh/bts/src/blacklist_management.rs
  rust/near/bsh/bts/tests/test_blacklist_management.rs
Labels: team: hugobyte, rust

#594 docs: Add design document for blacklist and token limit #352
  docs/adr/blacklist.md
  docs/adr/tokenLimit.md
  docs/img/blacklist-architecture.svg
  docs/img/token-limit-request.svg
  docs/img/token-limit-response.svg
Labels: type: documentation

#606 feat(bmr): repurpose bsc chain api to fit snow (#601)
  cmd/iconbridge/chain/substrate-eth/bmc_abigen.go
  cmd/iconbridge/chain/substrate-eth/client.go
  cmd/iconbridge/chain/substrate-eth/mocks/IClient.go
  cmd/iconbridge/chain/substrate-eth/receiver.go
  cmd/iconbridge/chain/substrate-eth/receiver_test.go
  cmd/iconbridge/chain/substrate-eth/register_relay.go
  cmd/iconbridge/chain/substrate-eth/sender.go
  cmd/iconbridge/chain/substrate-eth/type.go
  cmd/iconbridge/chain/substrate-eth/types/types.go
  cmd/iconbridge/chain/substrate-eth/verifier.go
  cmd/iconbridge/main.go
Labels: type: feature, team: ibriz, module: relay, priority: high, status: completed, team: web3 labs, go

#597 fix(bmr): downgrade go-ethereum to `v1.10.16`
  go.mod
  go.sum
Labels: team: hugobyte

#625 fix(bmr): filter btp messages for the destination bmc
  cmd/iconbridge/chain/near/receiver.go
  cmd/iconbridge/chain/near/receiver_test.go
  cmd/iconbridge/chain/near/tests/mock/data/events/377825.json
  cmd/iconbridge/chain/near/tests/mock/data/events/377826.json
  cmd/iconbridge/chain/near/tests/receiver_subscribe.go
Labels: type: bug, team: hugobyte, status: in progress, module: relay, priority: medium, scope: task, go

#638 perf(bmr): Update snow config (#637)
  cmd/iconbridge/chain/bsc/receiver.go
  cmd/iconbridge/chain/substrate-eth/receiver.go
Labels: go

#657 fix(bts): get token limit
  rust/btp-common/src/error.rs
  rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/tests/test_coin_management.rs
Labels: rust, module: service handler

#576 fix(bmr): validator used few blocks after removal from bsc validator-set
  cmd/iconbridge/chain/bsc/receiver.go
  cmd/iconbridge/chain/bsc/receiver_test.go
  cmd/iconbridge/chain/bsc/verifier.go
Labels: team: ibriz, module: relay, priority: critical, go

#703 feat(bmr): add icon arctic config file (#503)
  devnet/docker/icon-bsc/scripts/config/icon-lisbon-ice-arctic-config.sh
Labels: go

#704 feat(near): implement btp error handling in near bts and bmc
  rust/btp-common/src/error.rs
  rust/near/bmc/src/estimate.rs
  rust/near/bmc/src/external/bmc.rs
  rust/near/bmc/src/external/bsh.rs
  rust/near/bmc/src/lib.rs
  rust/near/bmc/src/messaging.rs
  rust/near/bmc/src/types/relay_message.rs
  rust/near/bmc/tests/test_link_management.rs
  rust/near/bmc/tests/test_messaging.rs
  rust/near/bsh/bts/src/accounting.rs
  rust/near/bsh/bts/src/fee_management.rs
  rust/near/bsh/bts/src/lib.rs
  rust/near/bsh/bts/src/messaging.rs
  rust/near/bsh/bts/tests/test_blacklist_management.rs
  rust/near/bsh/bts/tests/test_fee_management.rs
  rust/near/bsh/bts/tests/test_handle_transfer_request.rs
  rust/near/bsh/bts/tests/test_token_transfer.rs
  rust/near/libraries/src/types/btp_errors.rs
  rust/near/libraries/src/types/events/bmc_event.rs
  rust/near/libraries/src/types/events/mod.rs
  rust/near/libraries/src/types/messages/error_message.rs
  rust/near/libraries/src/types/messages/token_service.rs
  rust/near/libraries/src/types/mod.rs
  rust/near/libraries/src/types/nullable.rs
  rust/near/libraries/src/types/token_limit.rs
  rust/near/libraries/src/types/wrapped_i128.rs
  rust/near/libraries/src/types/wrapper.rs
Labels: team: hugobyte, rust

#728 fix(near): deps update near sdk to latest version
  rust/near/Cargo.lock
  rust/near/Cargo.toml
  rust/near/bmc/Cargo.toml
  rust/near/bmc/src/external/bmc.rs
  rust/near/bmc/src/external/mod.rs
  rust/near/bmc/src/internal_service.rs
  rust/near/bmc/src/messaging.rs
  rust/near/bmc/tests/test_link_management.rs
  rust/near/bmc/tests/test_messaging.rs
  rust/near/bmc/tests/test_ownership_management.rs
  rust/near/bmc/tests/test_relay_management.rs
  rust/near/bmc/tests/test_route_management.rs
  rust/near/bmc/tests/test_service_management.rs
  rust/near/bsh/bts/Cargo.toml
  rust/near/bsh/bts/src/accounting.rs
  rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/src/external/fungible_token.rs
  rust/near/bsh/bts/src/external/mod.rs
  rust/near/bsh/bts/src/external/native_coin.rs
  rust/near/bsh/bts/src/external/nep141.rs
  rust/near/bsh/bts/src/messaging.rs
  rust/near/bsh/bts/tests/test_blacklist_management.rs
  rust/near/bsh/bts/tests/test_coin_management.rs
  rust/near/bsh/bts/tests/test_coin_transfer.rs
  rust/near/bsh/bts/tests/test_fee_management.rs
  rust/near/bsh/bts/tests/test_handle_transfer_request.rs
  rust/near/bsh/bts/tests/test_ownership_management.rs
  rust/near/bsh/bts/tests/test_token_management.rs
  rust/near/bsh/bts/tests/test_token_transfer.rs
  rust/near/bsh/nep141/Cargo.toml
  rust/near/libraries/Cargo.toml
  rust/near/libraries/src/types/assets.rs
  rust/near/libraries/src/types/balance.rs
  rust/near/libraries/src/types/blacklist.rs
  rust/near/libraries/src/types/coin_ids.rs
  rust/near/libraries/src/types/connection.rs
  rust/near/libraries/src/types/link.rs
  rust/near/libraries/src/types/owner.rs
  rust/near/libraries/src/types/relay.rs
  rust/near/libraries/src/types/request.rs
  rust/near/libraries/src/types/route.rs
  rust/near/libraries/src/types/service.rs
  rust/near/libraries/src/types/storage_balance.rs
  rust/near/libraries/src/types/token_limit.rs
  rust/near/libraries/src/types/verifier.rs
  rust/near/res/BMC_CONTRACT.wasm
  rust/near/res/BMV_ICON_CONTRACT.wasm
  rust/near/res/BTS_CONTRACT.wasm
  rust/near/res/NATIVE_COIN_BSH_CONTRACT.wasm
  rust/near/res/NEP141_CONTRACT.wasm
  rust/near/res/TOKEN_BSH_CONTRACT.wasm
Labels: team: hugobyte, dependencies, rust

#732 fix(near): fix btp error
  rust/near/bmc/src/messaging.rs
  rust/near/bsh/bts/src/assertion.rs
Labels: team: hugobyte, rust

#731 test(near): update test-helper to use latest workspace sdk
  rust/near/Cargo.lock
  rust/near/Cargo.toml
  rust/near/bsh/bts/res/NEP141_CONTRACT.wasm
  rust/near/res/BMC_CONTRACT.wasm
  rust/near/res/BTS_CONTRACT.wasm
  rust/near/res/NEP141_CONTRACT.wasm
  rust/near/test-helper/Cargo.toml
  rust/near/test-helper/src/actions/deploy.rs
  rust/near/test-helper/src/actions/initialize.rs
  rust/near/test-helper/src/actions/invoke.rs
  rust/near/test-helper/src/actions/manage_owners.rs
  rust/near/test-helper/src/actions/manage_tokens.rs
  rust/near/test-helper/src/actions/manage_verifiers.rs
  rust/near/test-helper/src/actions/mod.rs
  rust/near/test-helper/src/types/context.rs
  rust/near/test-helper/src/types/contract.rs
  rust/near/test-helper/src/types/mod.rs
  rust/near/tests/steps/common/bmc.rs
  rust/near/tests/steps/common/bmv.rs
  rust/near/tests/steps/common/bts.rs
  rust/near/tests/steps/common/constants.rs
  rust/near/tests/steps/common/mod.rs
  rust/near/tests/steps/common/native_coin_bsh.rs
  rust/near/tests/steps/link_management.rs
  rust/near/tests/steps/mod.rs
  rust/near/tests/steps/service_management.rs
  rust/near/tests/steps/setup.rs
  rust/near/tests/steps/token_bsh_management.rs
  rust/near/tests/steps/verifier_management.rs
  rust/near/tests/test_handle_relay_message.rs
  rust/near/tests/test_manage_bsh_services.rs
  rust/near/tests/test_manage_links.rs
  rust/near/tests/test_manage_owner_accounts.rs
  rust/near/tests/test_manage_relays.rs
  rust/near/tests/test_manage_routes.rs
  rust/near/tests/test_manage_token_bsh.rs
  rust/near/tests/test_manage_verifiers.rs
Labels: team: hugobyte, rust

#749 fix(bmr): error while comparing receipt hash (#748)
  cmd/iconbridge/chain/substrate-eth/client.go
  cmd/iconbridge/chain/substrate-eth/receiver.go
  cmd/iconbridge/chain/substrate-eth/rx_test.go
  cmd/iconbridge/relay/config.go
  cmd/iconbridge/relay/multi_relay.go
Labels: team: ibriz, module: relay, status: triage needed, priority: high, go
