Repository icon-project/icon-bridge, pull requests merged in 2022-09, with the labels that each got.

#408 implement add and remove method for blacklisting accounts
  rust/btp-common/src/error.rs
  rust/near/bsh/bts/Cargo.toml
  rust/near/bsh/bts/src/assertion.rs
  rust/near/bsh/bts/src/blacklist_management.rs
  rust/near/bsh/bts/src/lib.rs
  rust/near/bsh/bts/tests/test_blacklist_management.rs
  rust/near/libraries/src/types/blacklist.rs
  rust/near/libraries/src/types/mod.rs
Labels: near, story

#413 369 Add BMR unit tests for verifier functionality
  cmd/iconbridge/chain/icon/verifier.go
  cmd/iconbridge/chain/icon/verifier_test.go
Labels: test :test_tube:

#410 docs: release plan and scheduling
  doc/release/release-management-strategy.md
Labels: devops :computer:, BSC

#437 Feat/393 implement blacklist service type
  rust/near/bmc/tests/test_messaging.rs
  rust/near/bsh/bts/src/lib.rs
  rust/near/bsh/bts/src/messaging.rs
  rust/near/libraries/src/types/messages/token_service.rs
Labels: near

#434 Feat/389 admin can set token limit for list of tokens for user transfers
  rust/btp-common/src/error.rs
  rust/near/bsh/bts/src/assertion.rs
  rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/src/lib.rs
  rust/near/libraries/src/types/mod.rs
  rust/near/libraries/src/types/tokenlimit.rs
Labels: near

#456 feat(bts): Implement RequestChangeTokenLimit Service type
  rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/tests/test_coin_management.rs
  rust/near/libraries/src/types/messages/token_service.rs
  rust/near/libraries/src/types/mod.rs
  rust/near/libraries/src/types/token_limit.rs
Labels: near, feature :rocket:

#472 remove common folder from coverage
  .github/workflows/coverage.yml
Labels: devops :computer:, In progress :running_man:

#458 feat(bts): Implement logging for event data as Json string
  rust/near/bsh/bts/src/accounting.rs
  rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/src/lib.rs
  rust/near/bsh/bts/src/messaging.rs
Labels: near

#470 feat(bts): Update transfer , transfer batch & user methods
  rust/near/bsh/bts/src/accounting.rs
  rust/near/bsh/bts/src/assertion.rs
  rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/src/lib.rs
  rust/near/bsh/bts/src/transfer.rs
  rust/near/bsh/bts/tests/test_coin_management.rs
  rust/near/bsh/bts/tests/test_coin_transfer.rs
  rust/near/bsh/bts/tests/test_fee_management.rs
  rust/near/bsh/bts/tests/test_handle_transfer_request.rs
  rust/near/bsh/bts/tests/test_token_management.rs
  rust/near/bsh/bts/tests/test_token_transfer.rs
  rust/near/libraries/src/types/coin_ids.rs
  rust/near/libraries/src/types/mod.rs
Labels: near, story

#378 feat(bmr): add bsc header and receipts verification (#377)
  cmd/iconbridge/chain/bsc/receiver.go
  cmd/iconbridge/chain/bsc/receiver_test.go
  cmd/iconbridge/chain/bsc/verifier.go
  devnet/docker/icon-bsc/scripts/deploysc.sh
  devnet/docker/icon-bsc/scripts/token.solidity.sh
Labels: BSC

#492 feat(e2e): automate configuration on e2e (#415)
  cmd/e2etest/chain/bsc/abi/bmcperiphery/bmcperiphery_gen.go
  cmd/e2etest/chain/bsc/abi/btscore/btscore_gen.go
  cmd/e2etest/chain/bsc/abi/hrc20/hrc20_gen.go
  cmd/e2etest/chain/bsc/api.go
  cmd/e2etest/chain/bsc/api_test.go
  cmd/e2etest/chain/bsc/finder.go
  cmd/e2etest/chain/bsc/parser.go
  cmd/e2etest/chain/bsc/requests.go
  cmd/e2etest/chain/hmny/api.go
  cmd/e2etest/chain/hmny/finder.go
  cmd/e2etest/chain/hmny/requests.go
  cmd/e2etest/chain/icon/api.go
  cmd/e2etest/chain/icon/api_test.go
  cmd/e2etest/chain/icon/finder.go
  cmd/e2etest/chain/icon/parser.go
  cmd/e2etest/chain/icon/requests.go
  cmd/e2etest/chain/types.go
  cmd/e2etest/endpoint_test.go
  cmd/e2etest/example-config.json
  cmd/e2etest/executor/executor.go
  cmd/e2etest/executor/executor_test.go
  cmd/e2etest/executor/flow.go
  cmd/e2etest/executor/points_generator.go
  cmd/e2etest/executor/scripts.go
  cmd/e2etest/executor/scripts_configure.go
  cmd/e2etest/executor/scripts_transfer.go
  cmd/e2etest/executor/stress.go
  cmd/e2etest/executor/testsuite.go
  cmd/e2etest/executor/types.go
  cmd/e2etest/main.go
  cmd/e2etest/test-config.json
  cmd/iconbridge/chain/icon/client.go
  devnet/docker/icon-bsc/README.md
  devnet/docker/icon-bsc/scripts/config_local.sh
Labels: e2e

#495 story(build): add script to generate e2e config during deployment (#493)
  devnet/docker/icon-bsc/scripts/deploysc.sh
  devnet/docker/icon-bsc/scripts/generate_e2e_config.sh
  devnet/docker/icon-bsc/scripts/provision.sh
Labels: feature :rocket:, story, BSC

#497 feat(docs): add testnet deployment network and contract details
  doc/testnet_deployment.json
Labels: BSC

#530 fix(bts): moved coin method to public
  rust/near/bsh/bts/src/coin_management.rs
Labels: bug :bug:

#512 feat(bts): Add token_account field for Mint & Burn event log
  rust/near/bsh/bts/src/coin_management.rs
Labels: near

#511 feat(bts): implement new event log for register event
  rust/near/bsh/bts/src/coin_management.rs
Labels: near

#510 fix(bts): add token_name to withdraw event logging
  rust/near/bsh/bts/src/accounting.rs
  rust/near/bsh/bts/src/external/native_coin.rs
  rust/near/bsh/bts/tests/test_coin_transfer.rs
  rust/near/bsh/bts/tests/test_token_transfer.rs
Labels: near

#519 feat(deployment): add schedule and set branch for full bmr testnet run
  .github/workflows/deploy-testnet-workflow.yml
Labels: type: build and ci

#549 feat(bts): implement check for transfer restrictions
  rust/btp-common/src/error.rs
  rust/near/bsh/bts/src/assertion.rs
  rust/near/bsh/bts/src/blacklist_management.rs
  rust/near/bsh/bts/src/transfer.rs
  rust/near/bsh/bts/tests/test_blacklist_management.rs
Labels: team: hugobyte, rust

#528 docs: add docs file for codeql, codecov, release and bmr workflow
  doc/build/build.md
  doc/build/docker-base-image.md
  doc/codeql.md
  doc/coverage.md
  doc/release/deploy-bmr-workflow.md
  doc/release/release-assets.md
Labels: type: documentation
