Repository icon-project/icon-bridge, changes with the owners that CODEOWNERS names for each.
All owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz, @sdpisreddevil, @izyak, @manishbista28, @andrii-kl, @dwdraju

CODEOWNERS:

# global owners: used as fallback if nobody owns the code
* @CyrusVorwald-ICON @bbist @pragyanshrestha-ibriz

# solidity
/solidity/ @sdpisreddevil @izyak

# javascore
/javascore/ @izyak @sdpisreddevil

# golang
/cmd/ @manishbista28 @andrii-kl

# golang: iconbridge
/cmd/iconbridge/ @manishbista28 @andrii-kl

# golang: e2etest
/cmd/e2etest/ @manishbista28

# docs
/doc/ @pragyanshrestha-ibriz

# devops
.github/ @dwdraju

feat(build): alternative build process for local deployment (#463)
  .gitignore
  devnet/docker/icon-bsc/Makefile
  devnet/docker/icon-bsc/README.md
  devnet/docker/icon-bsc/bmr.Dockerfile
  devnet/docker/icon-bsc/build.sh
  devnet/docker/icon-bsc/docker-compose-bmr.yml
  devnet/docker/icon-bsc/docker-compose-nodes.yml
  devnet/docker/icon-bsc/docker-compose.testnet.yml
  devnet/docker/icon-bsc/scripts/bsh.nativeCoin.js
  devnet/docker/icon-bsc/scripts/bsh.token.js
  devnet/docker/icon-bsc/scripts/config_local.sh
  devnet/docker/icon-bsc/scripts/deploysc.sh
  devnet/docker/icon-bsc/scripts/nativeCoin.javascore.sh
  devnet/docker/icon-bsc/scripts/nativeCoin.solidity.sh
  devnet/docker/icon-bsc/scripts/transfer_bnb.sh
  devnet/docker/icon-bsc/scripts/transfer_bnb_bsc.sh
  devnet/docker/icon-bsc/scripts/transfer_eth.sh
  devnet/docker/icon-bsc/scripts/transfer_eth_bsc.sh
  devnet/docker/icon-bsc/scripts/transfer_icx.sh
  devnet/docker/icon-bsc/scripts/transfer_icx_bsc.sh
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

feat(bts): log event data as Json string
  rust/near/bsh/bts/src/accounting.rs
  rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/src/messaging.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

add commands for interacting with bts using near cli
  doc/near/bts.md
  doc/near/testnet.md
Owners: @pragyanshrestha-ibriz

fix syntax
  doc/near/bts.md
Owners: @pragyanshrestha-ibriz

fix syntax
  doc/near/bts.md
Owners: @pragyanshrestha-ibriz

feat(bts): update event log json
  rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/src/messaging.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

feat(bts): Method to query Coin/Token metadata
  rust/near/bsh/bts/src/coin_management.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

feat(bts): add coin metadata method
  rust/near/bsh/bts/src/coin_management.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

Update rust/near/bsh/bts/src/accounting.rs
  rust/near/bsh/bts/src/accounting.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

Update rust/near/bsh/bts/src/messaging.rs
  rust/near/bsh/bts/src/messaging.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

Update rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/src/coin_management.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

Update rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/src/coin_management.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

Update rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/src/coin_management.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

Update rust/near/bsh/bts/src/accounting.rs
  rust/near/bsh/bts/src/accounting.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

Update rust/near/bsh/bts/src/messaging.rs
  rust/near/bsh/bts/src/messaging.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

Update rust/near/bsh/bts/src/accounting.rs
  rust/near/bsh/bts/src/accounting.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

Update rust/near/bsh/bts/src/accounting.rs
  rust/near/bsh/bts/src/accounting.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

Update rust/near/bsh/bts/src/accounting.rs
  rust/near/bsh/bts/src/accounting.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

Update rust/near/bsh/bts/src/messaging.rs
  rust/near/bsh/bts/src/messaging.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

Update rust/near/bsh/bts/src/messaging.rs
  rust/near/bsh/bts/src/messaging.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

Update rust/near/bsh/bts/src/messaging.rs
  rust/near/bsh/bts/src/messaging.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

Update rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/src/coin_management.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

Update rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/src/coin_management.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

Update rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/src/coin_management.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

feat(bts): Update user methods use coin_name instead of coin_id
  rust/near/bsh/bts/src/accounting.rs
  rust/near/bsh/bts/src/assertion.rs
  rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/src/lib.rs
  rust/near/bsh/bts/src/transfer.rs
  rust/near/bsh/bts/tests/test_coin_management.rs
  rust/near/bsh/bts/tests/test_coin_transfer.rs
  rust/near/bsh/bts/tests/test_fee_management.rs
  rust/near/bsh/bts/tests/test_handle_transfer_request.rs
  rust/near/bsh/bts/tests/test_token_management.rs
  rust/near/bsh/bts/tests/test_token_transfer.rs
  rust/near/libraries/src/types/coin_ids.rs
  rust/near/libraries/src/types/mod.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

fix(bts): Withdraw event logs
  rust/near/bsh/bts/src/accounting.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

remove common folder from coverage
  .github/workflows/coverage.yml
Owners: @dwdraju

update status code
  rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/src/messaging.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

Update log
  rust/near/bsh/bts/src/accounting.rs
  rust/near/bsh/bts/src/messaging.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

use coin_id map for token limit
  rust/near/bsh/bts/src/assertion.rs
  rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/tests/test_coin_management.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

refactor coin_id method
  rust/near/bsh/bts/src/accounting.rs
  rust/near/bsh/bts/src/assertion.rs
  rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/src/transfer.rs
  rust/near/bsh/bts/tests/test_coin_management.rs
  rust/near/bsh/bts/tests/test_coin_transfer.rs
  rust/near/bsh/bts/tests/test_handle_transfer_request.rs
  rust/near/bsh/bts/tests/test_token_management.rs
  rust/near/bsh/bts/tests/test_token_transfer.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

added point generator
  cmd/e2etest/chain/bsc/api.go
  cmd/e2etest/chain/icon/api.go
  cmd/e2etest/chain/icon/requests.go
  cmd/e2etest/example-config.json
  cmd/e2etest/executor/executor_test.go
  cmd/e2etest/executor/flow.go
  cmd/e2etest/executor/points_generator.go
  cmd/e2etest/executor/scripts.go
  cmd/e2etest/executor/testsuite.go
  cmd/e2etest/executor/types.go
Owners: @manishbista28

refactor transfer batch
  rust/near/bsh/bts/src/assertion.rs
  rust/near/bsh/bts/src/transfer.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

Fix json event log
  rust/near/bsh/bts/src/accounting.rs
  rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/src/messaging.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

Update Transfer start log
  rust/near/bsh/bts/src/messaging.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

feat(bts): Implement logging for event data as Json string (#458)
  rust/near/bsh/bts/src/accounting.rs
  rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/src/lib.rs
  rust/near/bsh/bts/src/messaging.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

refactor(bts): Change Coin Id to Coin Name param for `transfer`, `transfer_batch`, `reclaim`, `withdraw` (#470)
  rust/near/bsh/bts/src/accounting.rs
  rust/near/bsh/bts/src/assertion.rs
  rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/src/lib.rs
  rust/near/bsh/bts/src/transfer.rs
  rust/near/bsh/bts/tests/test_coin_management.rs
  rust/near/bsh/bts/tests/test_coin_transfer.rs
  rust/near/bsh/bts/tests/test_fee_management.rs
  rust/near/bsh/bts/tests/test_handle_transfer_request.rs
  rust/near/bsh/bts/tests/test_token_management.rs
  rust/near/bsh/bts/tests/test_token_transfer.rs
  rust/near/libraries/src/types/coin_ids.rs
  rust/near/libraries/src/types/mod.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

fix typo
  rust/near/bsh/bts/src/transfer.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

add missing secrets reference secrets
  .github/workflows/deploy-bmr.yml
  .github/workflows/deploy-javascore-testnet.yml
  .github/workflows/deploy-solidity-testnet.yml
  .github/workflows/deploy-testnet.yml
  .github/workflows/deploy-token-javascore.yml
  .github/workflows/link-register-coin.yml
  build/bmr/docker-compose.yml
Owners: @dwdraju, @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

fix solidity
  .github/workflows/deploy-solidity-testnet.yml
  .github/workflows/deploy-testnet.yml
Owners: @dwdraju
