Repository icon-project/icon-bridge, changes with the owners that CODEOWNERS names for each.
All owners: @CyrusVorwald-ICON, @sdpisreddevil, @izyak, @manishbista28, @andrii-kl, @MuhammedIrfan, @pragyanshrestha-ibriz, @dwdraju

CODEOWNERS:

# global owners: used as fallback if nobody owns the code
* @CyrusVorwald-ICON

# solidity
/solidity/ @sdpisreddevil @izyak

# javascore
/javascore/ @izyak @sdpisreddevil

# golang
/cmd/ @manishbista28 @andrii-kl

# golang: iconbridge
/cmd/iconbridge/ @manishbista28 @andrii-kl

# golang: iconbridge near
/cmd/iconbridge/chain/near/ @MuhammedIrfan

# golang: e2etest
/cmd/e2etest/ @manishbista28

# golang: e2etest near
/cmd/e2etest/chain/near/ @MuhammedIrfan

# docs
/docs/ @CyrusVorwald-ICON @pragyanshrestha-ibriz @MuhammedIrfan @andrii-kl

# devops
.github/ @dwdraju

#rust
/rust/ @MuhammedIrfan

story(deployment): upgrade scipt (#742)
  devnet/docker/icon-bsc/scripts/upgrade.sh
Owners: @CyrusVorwald-ICON

feat(deployment): script to change relay owner (#744)
  devnet/docker/icon-bsc/scripts/changeRelayOwner.javascore.sh
  devnet/docker/icon-bsc/scripts/token.javascore.sh
Owners: @CyrusVorwald-ICON

feat(deployment): make verbose (#744)
  devnet/docker/icon-bsc/scripts/changeRelayOwner.javascore.arctic.sh
  devnet/docker/icon-bsc/scripts/token.javascore.sh
Owners: @CyrusVorwald-ICON

feat(deployment): script to change relay owner (#744) (#745)
  devnet/docker/icon-bsc/scripts/changeRelayOwner.javascore.arctic.sh
  devnet/docker/icon-bsc/scripts/token.javascore.sh
Owners: @CyrusVorwald-ICON

feat(deployment): ICON upgrade script for bmc and bts (#742) (#743)
  devnet/docker/icon-bsc/scripts/upgrade.sh
Owners: @CyrusVorwald-ICON

bug(bmr): error while comparing receipt hash (#748)
  cmd/iconbridge/chain/substrate-eth/client.go
  cmd/iconbridge/chain/substrate-eth/receiver.go
  cmd/iconbridge/chain/substrate-eth/rx_test.go
  cmd/iconbridge/relay/config.go
  cmd/iconbridge/relay/multi_relay.go
Owners: @manishbista28, @andrii-kl

bug(bmr): clean params (#748)
  cmd/iconbridge/chain/substrate-eth/rx_test.go
Owners: @manishbista28, @andrii-kl

bug(bmr): update rpc fetch span (#748)
  cmd/iconbridge/chain/substrate-eth/rx_test.go
Owners: @manishbista28, @andrii-kl

bug(bmr): avoid rpc calls on unit tests (#748)
  cmd/iconbridge/chain/substrate-eth/rx_test.go
Owners: @manishbista28, @andrii-kl

bug(bmr): correct log formatting (#748)
  cmd/iconbridge/chain/substrate-eth/receiver.go
Owners: @manishbista28, @andrii-kl

bug(bmr): join conditional checks (#748)
  cmd/iconbridge/chain/substrate-eth/receiver.go
Owners: @manishbista28, @andrii-kl

Added link to roadmap
  README.md
Owners: @CyrusVorwald-ICON

fix(bmr): error while comparing receipt hash (#748) (#749)
  cmd/iconbridge/chain/substrate-eth/client.go
  cmd/iconbridge/chain/substrate-eth/receiver.go
  cmd/iconbridge/chain/substrate-eth/rx_test.go
  cmd/iconbridge/relay/config.go
  cmd/iconbridge/relay/multi_relay.go
Owners: @manishbista28, @andrii-kl

docs(deployment): snow mainnet contracts (#739)
  docs/mainnet_deployment.json
Owners: @CyrusVorwald-ICON, @pragyanshrestha-ibriz, @MuhammedIrfan, @andrii-kl

docs: add all-contributors to readme
  README.md
Owners: @CyrusVorwald-ICON

Update README.md
  README.md
Owners: @CyrusVorwald-ICON

docs: add link to roadmap, all-contributors (#750)
  README.md
Owners: @CyrusVorwald-ICON

fix(bmr): submit transaction to pool failed (#760)
  cmd/iconbridge/chain/substrate-eth/receiver.go
  cmd/iconbridge/chain/substrate-eth/sender.go
  cmd/iconbridge/relay/relay.go
Owners: @manishbista28, @andrii-kl

fix(bmr): add tests (#760)
  cmd/iconbridge/chain/substrate-eth/rx_test.go
Owners: @manishbista28, @andrii-kl

add label for registering coin name
  rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/tests/token.rs
  rust/near/libraries/src/types/asset.rs
  rust/near/libraries/src/types/fungible_token.rs
Owners: @MuhammedIrfan

fix(bmr): add randomness to vary txn hash (#760)
  cmd/iconbridge/chain/substrate-eth/rx_test.go
  cmd/iconbridge/chain/substrate-eth/sender.go
  cmd/iconbridge/relay/relay.go
Owners: @manishbista28, @andrii-kl

fix(bmr): comment out tests with external calls (#760)
  cmd/iconbridge/chain/substrate-eth/rx_test.go
Owners: @manishbista28, @andrii-kl

fix(bmr): submit transaction to pool failed (#760) (#761)
  cmd/iconbridge/chain/substrate-eth/receiver.go
  cmd/iconbridge/chain/substrate-eth/rx_test.go
  cmd/iconbridge/chain/substrate-eth/sender.go
Owners: @manishbista28, @andrii-kl

implement storage cost for bts
  rust/near/bsh/bts/src/accounting.rs
  rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/src/external/nep141.rs
  rust/near/bsh/nep141/src/lib.rs
Owners: @MuhammedIrfan

update storage for storage cost
  rust/near/bsh/bts/src/accounting.rs
  rust/near/bsh/bts/src/assertion.rs
  rust/near/bsh/bts/src/coin_management.rs
  rust/near/libraries/src/types/balance.rs
  rust/near/libraries/src/types/storage_balance.rs
Owners: @MuhammedIrfan

only forward events to the intended destination
  cmd/iconbridge/chain/bsc/receiver.go
  cmd/iconbridge/chain/substrate-eth/receiver.go
Owners: @manishbista28, @andrii-kl

build: remove docker-compose directory
  build/base/entrypoint.sh
  build/bmr/Dockerfile
  docker-compose/Dockerfile
  docker-compose/btp.sh
  docker-compose/docker-compose.yml
  docker-compose/entrypoint
  docker-compose/keystore.sh
  docker-compose/provision.sh
  docker-compose/rpc.sh
  docker-compose/server.sh
  docker-compose/token.sh
Owners: @CyrusVorwald-ICON

refactor: remove pyscore
  pyscore/__init__.py
  pyscore/bmc/__init__.py
  pyscore/bmc/bmc.py
  pyscore/bmc/exception.py
  pyscore/bmc/link.py
  pyscore/bmc/message.py
  pyscore/bmc/permission.py
  pyscore/bmc/relay.py
  pyscore/bmc/relayer.py
  pyscore/bmc/route.py
  pyscore/bmv/__init__.py
  pyscore/bmv/exception.py
  pyscore/bmv/icon/__init__.py
  pyscore/bmv/icon/icon.py
  pyscore/bmv/icon/message.py
  pyscore/bmv/icon/tests/__init__.py
  pyscore/bmv/icon/tests/test_unit_iconee.py
  pyscore/lib/__init__.py
  pyscore/lib/btp_abstract.py
  pyscore/lib/btp_address.py
  pyscore/lib/btp_exception.py
  pyscore/lib/btp_interface.py
  pyscore/lib/const.py
  pyscore/lib/icon/__init__.py
  pyscore/lib/icon/base64.py
  pyscore/lib/icon/db.py
  pyscore/lib/icon/mpt.py
  pyscore/lib/icon/mta.py
  pyscore/lib/icon/rlp.py
  pyscore/lib/icon/umsgpack.py
  pyscore/lib/icon/wrap.py
  pyscore/requirements.txt
  pyscore/token_bsh/sample/irc2_token/__init__.py
  pyscore/token_bsh/sample/irc2_token/irc2_token.py
  pyscore/token_bsh/sample/irc2_token/package.json
  pyscore/token_bsh/token_bsh.py
Owners: @CyrusVorwald-ICON

build: remove references to pyscore
  Makefile
Owners: @CyrusVorwald-ICON

docs: remove pyscore, docker-compose references
  docs/getting-started.md
Owners: @CyrusVorwald-ICON, @pragyanshrestha-ibriz, @MuhammedIrfan, @andrii-kl

refactor: remove unused /docker folder
  docker/iconbridge/Dockerfile
  docker/iconbridge/Dockerfile-Debug
  docker/iconbridge/build-debug.sh
  docker/iconbridge/build.sh
  docker/iconbridge/entrypoint
  docker/iconbridge/run
  docker/javascore/Dockerfile
  docker/javascore/build.sh
  docker/version.sh
Owners: @CyrusVorwald-ICON

docs: fixed link references in release-assets.md
  docs/release/release-assets.md
Owners: @CyrusVorwald-ICON, @pragyanshrestha-ibriz, @MuhammedIrfan, @andrii-kl

refactor: remove /testnet
  docs/getting-started.md
  testnet/README.md
  testnet/javascore/artifacts/bmc-optimized.jar
  testnet/javascore/artifacts/bsh-optimized.jar
  testnet/javascore/artifacts/irc2-token-optimized.jar
  testnet/javascore/artifacts/irc2Tradeable-0.1.0-optimized.jar
  testnet/javascore/artifacts/irc31-0.1.0-optimized.jar
  testnet/javascore/artifacts/nativecoin-optimized.jar
  testnet/javascore/javascore_deploy_commands.md
  testnet/relay/commands
  testnet/relay/config/bsc.config.json
  testnet/relay/config/bsc.secret
  testnet/relay/config/icon.config.json
  testnet/relay/config/icon.secret
  testnet/solidity/scripts/.env_example
  testnet/solidity/scripts/addresses.json
  testnet/solidity/scripts/debug.js
  testnet/solidity/scripts/package-lock.json
  testnet/solidity/scripts/package.json
  testnet/solidity/scripts/provision.js
  testnet/solidity/scripts/transfer.js
  testnet/solidity/scripts/yarn.lock
  testnet/solidity/solidity_deploy_commands.md
Owners: @CyrusVorwald-ICON, @pragyanshrestha-ibriz, @MuhammedIrfan, @andrii-kl

add tests
  rust/near/res/BTS_CONTRACT.wasm
  rust/near/test-helper/src/actions/deploy.rs
  rust/near/test-helper/src/actions/get_token_metadata.rs
  rust/near/test-helper/src/actions/manage_tokens.rs
  rust/near/test-helper/src/actions/mod.rs
  rust/near/test-helper/src/types/contract.rs
  rust/near/test-helper/src/types/mod.rs
  rust/near/tests/steps/common/bts.rs
  rust/near/tests/steps/common/mod.rs
  rust/near/tests/steps/common/nep141.rs
  rust/near/tests/steps/mod.rs
  rust/near/tests/steps/setup.rs
  rust/near/tests/steps/token_bsh_management.rs
  rust/near/tests/steps/token_management.rs
  rust/near/tests/test_manage_tokens.rs
Owners: @MuhammedIrfan

fix(bts): add label for registering coin name (#772)
  rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/tests/token.rs
  rust/near/libraries/src/types/asset.rs
  rust/near/libraries/src/types/fungible_token.rs
  rust/near/res/BTS_CONTRACT.wasm
  rust/near/test-helper/src/actions/deploy.rs
  rust/near/test-helper/src/actions/get_token_metadata.rs
  rust/near/test-helper/src/actions/manage_tokens.rs
  rust/near/test-helper/src/actions/mod.rs
  rust/near/test-helper/src/types/contract.rs
  rust/near/test-helper/src/types/mod.rs
  rust/near/tests/steps/common/bts.rs
  rust/near/tests/steps/common/mod.rs
  rust/near/tests/steps/common/nep141.rs
  rust/near/tests/steps/mod.rs
  rust/near/tests/steps/setup.rs
  rust/near/tests/steps/token_bsh_management.rs
  rust/near/tests/steps/token_management.rs
  rust/near/tests/test_manage_tokens.rs
Owners: @MuhammedIrfan

storage optimisation
  rust/near/bmc/src/assertion.rs
  rust/near/bsh/bts/src/assertion.rs
  rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/src/fee_management.rs
  rust/near/libraries/src/types/asset_fee.rs
  rust/near/libraries/src/types/balance.rs
  rust/near/libraries/src/types/blacklist.rs
  rust/near/libraries/src/types/coin_ids.rs
  rust/near/libraries/src/types/link.rs
  rust/near/libraries/src/types/owner.rs
  rust/near/libraries/src/types/route.rs
  rust/near/libraries/src/types/service.rs
  rust/near/libraries/src/types/token_limit.rs
Owners: @MuhammedIrfan

Update wasm binary
  rust/near/bsh/bts/res/NEP141_CONTRACT.wasm
  rust/near/res/NEP141_CONTRACT.wasm
Owners: @MuhammedIrfan

Update wasm binaries
  rust/near/libraries/src/types/assets.rs
  rust/near/res/BMC_CONTRACT.wasm
  rust/near/res/BTS_CONTRACT.wasm
Owners: @MuhammedIrfan

minor fixes for ensure_amount_within_limit
  rust/near/bsh/bts/src/assertion.rs
  rust/near/bsh/bts/src/transfer.rs
Owners: @MuhammedIrfan

perf: contract storage optimisation (#773)
  rust/near/bmc/src/assertion.rs
  rust/near/bsh/bts/res/NEP141_CONTRACT.wasm
  rust/near/bsh/bts/src/assertion.rs
  rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/src/fee_management.rs
  rust/near/bsh/bts/src/transfer.rs
  rust/near/libraries/src/types/asset_fee.rs
  rust/near/libraries/src/types/assets.rs
  rust/near/libraries/src/types/balance.rs
  rust/near/libraries/src/types/blacklist.rs
  rust/near/libraries/src/types/coin_ids.rs
  rust/near/libraries/src/types/link.rs
  rust/near/libraries/src/types/owner.rs
  rust/near/libraries/src/types/route.rs
  rust/near/libraries/src/types/service.rs
  rust/near/libraries/src/types/token_limit.rs
  rust/near/res/BMC_CONTRACT.wasm
  rust/near/res/BTS_CONTRACT.wasm
  rust/near/res/NEP141_CONTRACT.wasm
Owners: @MuhammedIrfan
