Repository icon-project/icon-bridge, changes with the owners that CODEOWNERS names for each.
All owners: @CyrusVorwald-ICON, @sdpisreddevil, @izyak, @manishbista28, @andrii-kl, @MuhammedIrfan, @pragyanshrestha-ibriz, @dwdraju

fix(bmr): validator used few blocks after removal from bsc validator-set (#576)
  cmd/iconbridge/chain/bsc/receiver.go
  cmd/iconbridge/chain/bsc/receiver_test.go
  cmd/iconbridge/chain/bsc/verifier.go
Owners: @manishbista28, @andrii-kl

fix unit tests
  cmd/iconbridge/chain/near/client.go
  cmd/iconbridge/chain/near/receiver_test.go
  cmd/iconbridge/chain/near/tests/mock/data/events/377827.json
  cmd/iconbridge/chain/near/tests/mock/data/events/377828.json
  cmd/iconbridge/chain/near/tests/mock/data/events/377829.json
  cmd/iconbridge/chain/near/tests/mock/data/events/377830.json
  cmd/iconbridge/chain/near/tests/mock/mock_api_factory.go
  cmd/iconbridge/chain/near/tests/receiver_receive_blocks.go
  cmd/iconbridge/chain/near/tests/receiver_subscribe.go
Owners: @MuhammedIrfan

Update btp error handling
  rust/btp-common/src/error.rs
  rust/btp-common/src/lib.rs
  rust/near/bmc/src/estimate.rs
  rust/near/bmc/src/external/bmc.rs
  rust/near/bmc/src/external/bsh.rs
  rust/near/bmc/src/lib.rs
  rust/near/bmc/src/messaging.rs
  rust/near/bmc/src/types/relay_message.rs
  rust/near/bsh/bts/src/lib.rs
  rust/near/bsh/bts/src/messaging.rs
  rust/near/libraries/src/types/btp_errors.rs
  rust/near/libraries/src/types/events/bmc_event.rs
  rust/near/libraries/src/types/messages/error_message.rs
  rust/near/libraries/src/types/mod.rs
  rust/near/libraries/src/types/nullable.rs
  rust/near/libraries/src/types/wrapped_i128.rs
  rust/near/libraries/src/types/wrapper.rs
Owners: @MuhammedIrfan

feat(bmr): add icon arctic config file (#503)
  devnet/docker/icon-bsc/scripts/config/icon-lisbon-ice-arctic-config.sh
Owners: @CyrusVorwald-ICON

add more tests
  cmd/iconbridge/chain/near/client.go
  cmd/iconbridge/chain/near/errors/base.go
  cmd/iconbridge/chain/near/receiver_test.go
  cmd/iconbridge/chain/near/tests/receiver_receive_blocks.go
Owners: @MuhammedIrfan

feat(bmr): add icon arctic config file (#503) (#703)
  devnet/docker/icon-bsc/scripts/config/icon-lisbon-ice-arctic-config.sh
Owners: @CyrusVorwald-ICON

remove print statements
  common/jsonrpc/client.go
Owners: @CyrusVorwald-ICON

update testcase to assert size of relay message
  cmd/iconbridge/chain/near/sender.go
  cmd/iconbridge/chain/near/sender_test.go
  cmd/iconbridge/chain/near/tests/sender_segment.go
  cmd/iconbridge/chain/near/tests/tests.go
Owners: @MuhammedIrfan

fix missing param for e2e test
  cmd/e2etest/chain/near/requests.go
Owners: @MuhammedIrfan

fix testcase assertions
  cmd/iconbridge/chain/near/tests/sender_segment.go
Owners: @MuhammedIrfan

fix testcases
  rust/near/libraries/src/types/assets.rs
  rust/near/libraries/src/types/balance.rs
  rust/near/libraries/src/types/blacklist.rs
  rust/near/libraries/src/types/coin_ids.rs
  rust/near/libraries/src/types/connection.rs
  rust/near/libraries/src/types/link.rs
  rust/near/libraries/src/types/owner.rs
  rust/near/libraries/src/types/relay.rs
  rust/near/libraries/src/types/request.rs
  rust/near/libraries/src/types/route.rs
  rust/near/libraries/src/types/service.rs
  rust/near/libraries/src/types/storage_balance.rs
  rust/near/libraries/src/types/token_limit.rs
  rust/near/libraries/src/types/verifier.rs
Owners: @MuhammedIrfan

remove unused trait
  rust/near/bmc/src/external/bmc.rs
  rust/near/bmc/src/external/mod.rs
Owners: @MuhammedIrfan

update btp error handling in bsh and bmc
  rust/btp-common/src/error.rs
  rust/btp-common/src/lib.rs
  rust/near/bmc/src/messaging.rs
  rust/near/bmc/src/types/relay_message.rs
  rust/near/bmc/tests/test_link_management.rs
  rust/near/bmc/tests/test_messaging.rs
  rust/near/bsh/bts/src/accounting.rs
  rust/near/bsh/bts/src/lib.rs
  rust/near/bsh/bts/src/messaging.rs
  rust/near/bsh/bts/tests/test_blacklist_management.rs
  rust/near/bsh/bts/tests/test_handle_transfer_request.rs
  rust/near/bsh/bts/tests/test_token_transfer.rs
  rust/near/libraries/src/types/btp_errors.rs
  rust/near/libraries/src/types/events/bmc_event.rs
  rust/near/libraries/src/types/messages/token_service.rs
  rust/near/libraries/src/types/nullable.rs
Owners: @MuhammedIrfan

style: add spacing
  rust/near/libraries/src/types/token_limit.rs
Owners: @MuhammedIrfan

feat(near): implement btp error handling for near bts and bmc (#582) (#704)
  rust/btp-common/src/error.rs
  rust/near/bmc/src/estimate.rs
  rust/near/bmc/src/external/bmc.rs
  rust/near/bmc/src/external/bsh.rs
  rust/near/bmc/src/lib.rs
  rust/near/bmc/src/messaging.rs
  rust/near/bmc/src/types/relay_message.rs
  rust/near/bmc/tests/test_link_management.rs
  rust/near/bmc/tests/test_messaging.rs
  rust/near/bsh/bts/src/accounting.rs
  rust/near/bsh/bts/src/fee_management.rs
  rust/near/bsh/bts/src/lib.rs
  rust/near/bsh/bts/src/messaging.rs
  rust/near/bsh/bts/tests/test_blacklist_management.rs
  rust/near/bsh/bts/tests/test_fee_management.rs
  rust/near/bsh/bts/tests/test_handle_transfer_request.rs
  rust/near/bsh/bts/tests/test_token_transfer.rs
  rust/near/libraries/src/types/btp_errors.rs
  rust/near/libraries/src/types/events/bmc_event.rs
  rust/near/libraries/src/types/events/mod.rs
  rust/near/libraries/src/types/messages/error_message.rs
  rust/near/libraries/src/types/messages/token_service.rs
  rust/near/libraries/src/types/mod.rs
  rust/near/libraries/src/types/nullable.rs
  rust/near/libraries/src/types/token_limit.rs
  rust/near/libraries/src/types/wrapped_i128.rs
  rust/near/libraries/src/types/wrapper.rs
Owners: @MuhammedIrfan

upgrade worspace.rs
  rust/near/Cargo.lock
  rust/near/Cargo.toml
  rust/near/test-helper/Cargo.toml
  rust/near/test-helper/src/actions/deploy.rs
  rust/near/test-helper/src/actions/invoke.rs
  rust/near/test-helper/src/types/context.rs
  rust/near/test-helper/src/types/mod.rs
Owners: @MuhammedIrfan

remove bmv and add bts
  rust/near/test-helper/src/actions/deploy.rs
  rust/near/test-helper/src/actions/initialize.rs
  rust/near/test-helper/src/actions/manage_owners.rs
  rust/near/test-helper/src/actions/manage_tokens.rs
  rust/near/test-helper/src/actions/manage_verifiers.rs
  rust/near/test-helper/src/actions/mod.rs
  rust/near/test-helper/src/types/contract.rs
  rust/near/test-helper/src/types/mod.rs
Owners: @MuhammedIrfan

fix test cases
  rust/near/tests/steps/common/bmc.rs
  rust/near/tests/steps/common/bmv.rs
  rust/near/tests/steps/common/bts.rs
  rust/near/tests/steps/common/constants.rs
  rust/near/tests/steps/common/mod.rs
  rust/near/tests/steps/common/native_coin_bsh.rs
  rust/near/tests/steps/link_management.rs
  rust/near/tests/steps/mod.rs
  rust/near/tests/steps/service_management.rs
  rust/near/tests/steps/setup.rs
  rust/near/tests/steps/token_bsh_management.rs
  rust/near/tests/steps/verifier_management.rs
  rust/near/tests/test_handle_relay_message.rs
  rust/near/tests/test_manage_bsh_services.rs
  rust/near/tests/test_manage_links.rs
  rust/near/tests/test_manage_owner_accounts.rs
  rust/near/tests/test_manage_relays.rs
  rust/near/tests/test_manage_routes.rs
  rust/near/tests/test_manage_token_bsh.rs
  rust/near/tests/test_manage_verifiers.rs
Owners: @MuhammedIrfan

hotfix(near): fix btp error
  rust/near/bmc/src/messaging.rs
  rust/near/bsh/bts/src/assertion.rs
Owners: @MuhammedIrfan

fix(near): hotfix btp error (#732)
  rust/near/bmc/src/messaging.rs
  rust/near/bsh/bts/src/assertion.rs
Owners: @MuhammedIrfan

test(near): update test-helper to use latest workspace sdk (#566) (#731)
  rust/near/Cargo.lock
  rust/near/Cargo.toml
  rust/near/bsh/bts/res/NEP141_CONTRACT.wasm
  rust/near/res/BMC_CONTRACT.wasm
  rust/near/res/BTS_CONTRACT.wasm
  rust/near/res/NEP141_CONTRACT.wasm
  rust/near/test-helper/Cargo.toml
  rust/near/test-helper/src/actions/deploy.rs
  rust/near/test-helper/src/actions/initialize.rs
  rust/near/test-helper/src/actions/invoke.rs
  rust/near/test-helper/src/actions/manage_owners.rs
  rust/near/test-helper/src/actions/manage_tokens.rs
  rust/near/test-helper/src/actions/manage_verifiers.rs
  rust/near/test-helper/src/actions/mod.rs
  rust/near/test-helper/src/types/context.rs
  rust/near/test-helper/src/types/contract.rs
  rust/near/test-helper/src/types/mod.rs
  rust/near/tests/steps/common/bmc.rs
  rust/near/tests/steps/common/bmv.rs
  rust/near/tests/steps/common/bts.rs
  rust/near/tests/steps/common/constants.rs
  rust/near/tests/steps/common/mod.rs
  rust/near/tests/steps/common/native_coin_bsh.rs
  rust/near/tests/steps/link_management.rs
  rust/near/tests/steps/mod.rs
  rust/near/tests/steps/service_management.rs
  rust/near/tests/steps/setup.rs
  rust/near/tests/steps/token_bsh_management.rs
  rust/near/tests/steps/verifier_management.rs
  rust/near/tests/test_handle_relay_message.rs
  rust/near/tests/test_manage_bsh_services.rs
  rust/near/tests/test_manage_links.rs
  rust/near/tests/test_manage_owner_accounts.rs
  rust/near/tests/test_manage_relays.rs
  rust/near/tests/test_manage_routes.rs
  rust/near/tests/test_manage_token_bsh.rs
  rust/near/tests/test_manage_verifiers.rs
Owners: @MuhammedIrfan

Fix capitalization (Icon -> ICON)
  README.md
Owners: @CyrusVorwald-ICON

feat(bmr): implement block header verification for SNOW
  cmd/iconbridge/chain/bsc/mocks/IClient.go
  cmd/iconbridge/chain/bsc/verifier.go
  cmd/iconbridge/chain/common/eth/eth_verifier.go
  cmd/iconbridge/chain/common/eth/types/eth_header.go
  cmd/iconbridge/chain/common/eth/types/gen_header_json.go
  cmd/iconbridge/chain/common/substrate-eth/sub_eth_verifier.go
  cmd/iconbridge/chain/substrate-eth/client.go
  cmd/iconbridge/chain/substrate-eth/mocks/IClient.go
  cmd/iconbridge/chain/substrate-eth/receiver.go
  cmd/iconbridge/chain/substrate-eth/receiver_test.go
  cmd/iconbridge/chain/substrate-eth/type.go
  cmd/iconbridge/chain/substrate-eth/verifier.go
Owners: @manishbista28, @andrii-kl

feat(bmr): Add Bloom field to substrate-eth block header (#643)
  cmd/iconbridge/chain/common/eth/types/eth_header.go
  cmd/iconbridge/chain/common/eth/types/gen_header_json.go
  cmd/iconbridge/chain/common/substrate-eth/sub_eth_verifier.go
  cmd/iconbridge/chain/substrate-eth/receiver_test.go
Owners: @manishbista28, @andrii-kl

story(deployment): add scripts (#733)
  .gitignore
  devnet/docker/icon-bsc/Makefile
  devnet/docker/icon-bsc/build.sh
  devnet/docker/icon-bsc/scripts/config.sh
  devnet/docker/icon-bsc/scripts/config/arctic.sh
  devnet/docker/icon-bsc/scripts/config/bsc.sh
  devnet/docker/icon-bsc/scripts/config_temp.sh
  devnet/docker/icon-bsc/scripts/deploy_arctic.sh
  devnet/docker/icon-bsc/scripts/register.wrapped.sh
  devnet/docker/icon-bsc/scripts/token.javascore.sh
Owners: @CyrusVorwald-ICON

story(deployment): add config params (#733)
  devnet/docker/icon-bsc/scripts/config.sh
  devnet/docker/icon-bsc/scripts/config/arctic.sh
  devnet/docker/icon-bsc/scripts/config/bsc.sh
  devnet/docker/icon-bsc/scripts/config_temp.sh
  devnet/docker/icon-bsc/scripts/register.wrapped.sh
  devnet/docker/icon-bsc/scripts/token.javascore.sh
  devnet/docker/icon-bsc/scripts/token.solidity.sh
Owners: @CyrusVorwald-ICON

story(deployment): use zero fee numerator for mainnet config (#733)
  devnet/docker/icon-bsc/scripts/config.sh
  devnet/docker/icon-bsc/scripts/config/arctic.sh
  devnet/docker/icon-bsc/scripts/config/bsc.sh
Owners: @CyrusVorwald-ICON

story(deployment): use consistent fixed fee for ICZ (#733)
  devnet/docker/icon-bsc/scripts/config.sh
  devnet/docker/icon-bsc/scripts/config/arctic.sh
  devnet/docker/icon-bsc/scripts/config/bsc.sh
Owners: @CyrusVorwald-ICON

story(deployment): update readme (#733)
  devnet/docker/icon-bsc/README.md
Owners: @CyrusVorwald-ICON

feat(bmr): add custom block header mapper for SNOW (#643)
  cmd/iconbridge/chain/substrate-eth/client.go
  cmd/iconbridge/chain/substrate-eth/receiver.go
  cmd/iconbridge/chain/substrate-eth/receiver_test.go
  cmd/iconbridge/chain/substrate-eth/sender.go
  cmd/iconbridge/chain/substrate-eth/type.go
  cmd/iconbridge/chain/substrate-eth/types/eth_header.go
  cmd/iconbridge/chain/substrate-eth/types/gen_header_json.go
  cmd/iconbridge/chain/substrate-eth/verifier.go
Owners: @manishbista28, @andrii-kl

story(deployment): rename config (#733)
  devnet/docker/icon-bsc/build.sh
  devnet/docker/icon-bsc/scripts/config/icon-bsc-config.sh
  devnet/docker/icon-bsc/scripts/config/icon-ice-arctic-config.sh
Owners: @CyrusVorwald-ICON

story(deployment): rename relay shortcut (#733)
  devnet/docker/icon-bsc/scripts/deploy_arctic.sh
Owners: @CyrusVorwald-ICON

story(deployment): update log message (#733)
  devnet/docker/icon-bsc/scripts/deploy_arctic.sh
  devnet/docker/icon-bsc/scripts/deploysc.sh
Owners: @CyrusVorwald-ICON

story(deployment): set boost gas price to 1 (#733)
  devnet/docker/icon-bsc/scripts/deploy_arctic.sh
Owners: @CyrusVorwald-ICON

feat(bmr): correct block parameters (#643)
  cmd/iconbridge/chain/substrate-eth/receiver.go
Owners: @manishbista28, @andrii-kl

feat(bmr): Substrate-eth block header verification (#643) (#738)
  cmd/iconbridge/chain/substrate-eth/client.go
  cmd/iconbridge/chain/substrate-eth/mocks/IClient.go
  cmd/iconbridge/chain/substrate-eth/receiver.go
  cmd/iconbridge/chain/substrate-eth/receiver_test.go
  cmd/iconbridge/chain/substrate-eth/sender.go
  cmd/iconbridge/chain/substrate-eth/type.go
  cmd/iconbridge/chain/substrate-eth/types/eth_header.go
  cmd/iconbridge/chain/substrate-eth/types/gen_header_json.go
  cmd/iconbridge/chain/substrate-eth/verifier.go
Owners: @manishbista28, @andrii-kl

story(deployment): update snow mainnet rpc (#733)
  devnet/docker/icon-bsc/mainnet/snow_addresses.json
  devnet/docker/icon-bsc/scripts/config/icon-ice-arctic-config.sh
Owners: @CyrusVorwald-ICON

story(deployment): update snow mainnet rpc again (#733)
  devnet/docker/icon-bsc/scripts/config/icon-ice-arctic-config.sh
Owners: @CyrusVorwald-ICON

feat(deployment): deployment script to link new chain to existing env (#733) (#737)
  .gitignore
  devnet/docker/icon-bsc/Makefile
  devnet/docker/icon-bsc/README.md
  devnet/docker/icon-bsc/build.sh
  devnet/docker/icon-bsc/mainnet/snow_addresses.json
  devnet/docker/icon-bsc/scripts/config/icon-bsc-config.sh
  devnet/docker/icon-bsc/scripts/config/icon-ice-arctic-config.sh
  devnet/docker/icon-bsc/scripts/config/icon-lisbon-ice-arctic-config.sh
  devnet/docker/icon-bsc/scripts/deploy_arctic.sh
  devnet/docker/icon-bsc/scripts/register.wrapped.sh
  devnet/docker/icon-bsc/scripts/token.javascore.sh
  devnet/docker/icon-bsc/scripts/token.solidity.sh
Owners: @CyrusVorwald-ICON

docs: snow mainnet contracts
  docs/mainnet_deployment.json
Owners: @CyrusVorwald-ICON, @pragyanshrestha-ibriz, @MuhammedIrfan, @andrii-kl

CODEOWNERS:

# global owners: used as fallback if nobody owns the code
* @CyrusVorwald-ICON

# solidity
/solidity/ @sdpisreddevil @izyak

# javascore
/javascore/ @izyak @sdpisreddevil

# golang
/cmd/ @manishbista28 @andrii-kl

# golang: iconbridge
/cmd/iconbridge/ @manishbista28 @andrii-kl

# golang: iconbridge near
/cmd/iconbridge/chain/near/ @MuhammedIrfan

# golang: e2etest
/cmd/e2etest/ @manishbista28

# golang: e2etest near
/cmd/e2etest/chain/near/ @MuhammedIrfan

# docs
/docs/ @CyrusVorwald-ICON @pragyanshrestha-ibriz @MuhammedIrfan @andrii-kl

# devops
.github/ @dwdraju

#rust
/rust/ @MuhammedIrfan
