Repository icon-project/icon-bridge, changes with the owners that CODEOWNERS names for each.
All owners: @CyrusVorwald-ICON, @sdpisreddevil, @izyak, @manishbista28, @andrii-kl, @MuhammedIrfan, @pragyanshrestha-ibriz, @dwdraju

CODEOWNERS:

# global owners: used as fallback if nobody owns the code
* @CyrusVorwald-ICON

# solidity
/solidity/ @sdpisreddevil @izyak

# javascore
/javascore/ @izyak @sdpisreddevil

# golang
/cmd/ @manishbista28 @andrii-kl

# golang: iconbridge
/cmd/iconbridge/ @manishbista28 @andrii-kl

# golang: iconbridge near
/cmd/iconbridge/chain/near/ @MuhammedIrfan

# golang: e2etest
/cmd/e2etest/ @manishbista28

# golang: e2etest near
/cmd/e2etest/chain/near/ @MuhammedIrfan

# docs
/docs/ @CyrusVorwald-ICON @pragyanshrestha-ibriz @MuhammedIrfan @andrii-kl

# devops
.github/ @dwdraju

#rust
/rust/ @MuhammedIrfan

improve storage cost calcultaion
  rust/near/bsh/bts/src/accounting.rs
  rust/near/bsh/bts/src/assertion.rs
  rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/src/lib.rs
  rust/near/bsh/bts/src/transfer.rs
  rust/near/libraries/src/types/storage_balance.rs
Owners: @MuhammedIrfan

improve storage cost calculation , update wasm binaries
  rust/near/bsh/bts/res/NEP141_CONTRACT.wasm
  rust/near/bsh/bts/src/accounting.rs
  rust/near/bsh/bts/src/assertion.rs
  rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/src/lib.rs
  rust/near/bsh/bts/src/transfer.rs
  rust/near/bsh/bts/tests/test_coin_transfer.rs
  rust/near/bsh/bts/tests/test_fee_management.rs
  rust/near/bsh/bts/tests/test_handle_transfer_request.rs
  rust/near/bsh/bts/tests/test_token_transfer.rs
  rust/near/res/BTS_CONTRACT.wasm
  rust/near/res/NEP141_CONTRACT.wasm
Owners: @MuhammedIrfan

add blockhash compute
  cmd/iconbridge/chain/near/receiver.go
  cmd/iconbridge/chain/near/tests/tests.go
  cmd/iconbridge/chain/near/tests/verifier_validate_header.go
  cmd/iconbridge/chain/near/types/approval_message.go
  cmd/iconbridge/chain/near/types/block.go
  cmd/iconbridge/chain/near/types/block_notification.go
  cmd/iconbridge/chain/near/types/common.go
  cmd/iconbridge/chain/near/types/header.go
  cmd/iconbridge/chain/near/types/receiver_options.go
  cmd/iconbridge/chain/near/verifier.go
  cmd/iconbridge/chain/near/verifier_test.go
Owners: @MuhammedIrfan

add stake validation
  cmd/iconbridge/chain/near/receiver.go
  cmd/iconbridge/chain/near/tests/mock/factory.go
  cmd/iconbridge/chain/near/tests/verifier_validate_header.go
  cmd/iconbridge/chain/near/types/block_notification.go
  cmd/iconbridge/chain/near/types/block_producer.go
  cmd/iconbridge/chain/near/types/receiver_options.go
  cmd/iconbridge/chain/near/verifier.go
  cmd/iconbridge/chain/near/verifier_test.go
Owners: @MuhammedIrfan

add depreciation label
  common/jsonrpc/client.go
Owners: @CyrusVorwald-ICON

fix(bmr): allow custom errors for handling errors effectively (#702)
  cmd/iconbridge/chain/near/api.go
  cmd/iconbridge/chain/near/client.go
  cmd/iconbridge/chain/near/errors/base.go
  cmd/iconbridge/chain/near/errors/rpc_error.go
  cmd/iconbridge/chain/near/errors/transaction_errors.go
  cmd/iconbridge/chain/near/receiver.go
  cmd/iconbridge/chain/near/receiver_test.go
  cmd/iconbridge/chain/near/sender.go
  cmd/iconbridge/chain/near/tests/mock/data/events/377827.json
  cmd/iconbridge/chain/near/tests/mock/data/events/377828.json
  cmd/iconbridge/chain/near/tests/mock/data/events/377829.json
  cmd/iconbridge/chain/near/tests/mock/data/events/377830.json
  cmd/iconbridge/chain/near/tests/mock/mock_api_factory.go
  cmd/iconbridge/chain/near/tests/receiver_receive_blocks.go
  cmd/iconbridge/chain/near/tests/receiver_subscribe.go
  common/jsonrpc/client.go
  common/jsonrpc/type.go
Owners: @MuhammedIrfan, @CyrusVorwald-ICON

test(bmc): Handle Relay Message when neither source nor destination is ICON chain #776
  javascore/bmc/src/test/java/foundation/icon/btp/bmc/BTPMessageCenterTest.java
Owners: @izyak, @sdpisreddevil

update accuonting and add unit testcases
  rust/near/Cargo.toml
  rust/near/bmc/src/types/relay_message.rs
  rust/near/bsh/bts/src/accounting.rs
  rust/near/bsh/bts/src/assertion.rs
  rust/near/bsh/bts/src/external/fungible_token.rs
  rust/near/bsh/bts/src/external/nep141.rs
  rust/near/bsh/bts/src/transfer.rs
  rust/near/bsh/bts/tests/test_coin_transfer.rs
  rust/near/bsh/bts/tests/test_fee_management.rs
  rust/near/bsh/bts/tests/test_handle_transfer_request.rs
  rust/near/bsh/bts/tests/test_token_transfer.rs
Owners: @MuhammedIrfan

Add functional test case for storage cost implementation
  rust/near/test-helper/src/actions/deploy.rs
  rust/near/test-helper/src/actions/get_token_metadata.rs
  rust/near/test-helper/src/actions/invoke.rs
  rust/near/test-helper/src/actions/manage_tokens.rs
  rust/near/test-helper/src/actions/messaging.rs
  rust/near/test-helper/src/actions/mod.rs
  rust/near/test-helper/src/types/context.rs
  rust/near/test-helper/src/types/mod.rs
  rust/near/tests/steps/account_management.rs
  rust/near/tests/steps/common/constants.rs
  rust/near/tests/steps/link_management.rs
  rust/near/tests/steps/messaging.rs
  rust/near/tests/steps/mod.rs
  rust/near/tests/steps/setup.rs
  rust/near/tests/steps/token_management.rs
  rust/near/tests/test_token_transfers.rs
Owners: @MuhammedIrfan

update wasm binaries
  rust/near/res/BTS_CONTRACT.wasm
Owners: @MuhammedIrfan

fix typo
  rust/near/bsh/bts/src/accounting.rs
  rust/near/bsh/bts/src/lib.rs
  rust/near/bsh/nep141/src/lib.rs
Owners: @MuhammedIrfan

update assertion
  rust/btp-common/src/error.rs
  rust/near/bsh/bts/src/assertion.rs
Owners: @MuhammedIrfan

feat(bts): implement storage deposit (#774)
  rust/btp-common/src/error.rs
  rust/near/Cargo.toml
  rust/near/bmc/src/types/relay_message.rs
  rust/near/bsh/bts/res/NEP141_CONTRACT.wasm
  rust/near/bsh/bts/src/accounting.rs
  rust/near/bsh/bts/src/assertion.rs
  rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/src/external/fungible_token.rs
  rust/near/bsh/bts/src/external/nep141.rs
  rust/near/bsh/bts/src/lib.rs
  rust/near/bsh/bts/src/transfer.rs
  rust/near/bsh/bts/tests/test_coin_transfer.rs
  rust/near/bsh/bts/tests/test_fee_management.rs
  rust/near/bsh/bts/tests/test_handle_transfer_request.rs
  rust/near/bsh/bts/tests/test_token_transfer.rs
  rust/near/bsh/nep141/src/lib.rs
  rust/near/libraries/src/types/storage_balance.rs
  rust/near/res/BTS_CONTRACT.wasm
  rust/near/res/NEP141_CONTRACT.wasm
  rust/near/test-helper/src/actions/deploy.rs
  rust/near/test-helper/src/actions/get_token_metadata.rs
  rust/near/test-helper/src/actions/invoke.rs
  rust/near/test-helper/src/actions/manage_tokens.rs
  rust/near/test-helper/src/actions/messaging.rs
  rust/near/test-helper/src/actions/mod.rs
  rust/near/test-helper/src/types/context.rs
  rust/near/test-helper/src/types/mod.rs
  rust/near/tests/steps/account_management.rs
  rust/near/tests/steps/common/constants.rs
  rust/near/tests/steps/link_management.rs
  rust/near/tests/steps/messaging.rs
  rust/near/tests/steps/mod.rs
  rust/near/tests/steps/setup.rs
  rust/near/tests/steps/token_management.rs
  rust/near/tests/test_token_transfers.rs
Owners: @MuhammedIrfan

fix(bmr): relay not working if icon config doesn't have a verifier
  cmd/iconbridge/chain/icon/receiver.go
Owners: @manishbista28, @andrii-kl

refactor bmc and bts contract code
  rust/near/bmc/src/assertion.rs
  rust/near/bmc/src/internal_service.rs
  rust/near/bmc/src/link_management.rs
  rust/near/bmc/src/messaging.rs
  rust/near/bmc/src/relay_management.rs
  rust/near/bmc/src/types/events.rs
  rust/near/libraries/src/types/token_limit.rs
Owners: @MuhammedIrfan

update WASM binaries
  rust/near/res/BMC_CONTRACT.wasm
  rust/near/res/BTS_CONTRACT.wasm
Owners: @MuhammedIrfan

remove duplicate method
  rust/near/bmc/src/messaging.rs
  rust/near/bmc/src/types/events.rs
  rust/near/res/BMC_CONTRACT.wasm
Owners: @MuhammedIrfan

docs: add single step pre-reqs note to tldr
  docs/getting-started.md
Owners: @CyrusVorwald-ICON, @pragyanshrestha-ibriz, @MuhammedIrfan, @andrii-kl

Update getting-started.md
  docs/getting-started.md
Owners: @CyrusVorwald-ICON, @pragyanshrestha-ibriz, @MuhammedIrfan, @andrii-kl

fix header validation
  cmd/iconbridge/chain/near/api.go
  cmd/iconbridge/chain/near/client.go
  cmd/iconbridge/chain/near/receiver.go
  cmd/iconbridge/chain/near/receiver_test.go
  cmd/iconbridge/chain/near/tests/get_block_proof.go
  cmd/iconbridge/chain/near/tests/mock/data/block_producers/84toXNMo2p5ttdjkV6RHdJFrgxrnTLRkCTjb7aA8Dh95.json
  cmd/iconbridge/chain/near/tests/mock/data/events/377827.json
  cmd/iconbridge/chain/near/tests/mock/data/events/377828.json
  cmd/iconbridge/chain/near/tests/mock/data/events/377829.json
  cmd/iconbridge/chain/near/tests/mock/default.go
  cmd/iconbridge/chain/near/tests/mock/factory.go
  cmd/iconbridge/chain/near/tests/mock/mock_api.go
  cmd/iconbridge/chain/near/tests/mock/mock_api_factory.go
  cmd/iconbridge/chain/near/tests/mock/storage.go
  cmd/iconbridge/chain/near/tests/receiver_receive_blocks.go
  cmd/iconbridge/chain/near/tests/receiver_subscribe.go
  cmd/iconbridge/chain/near/tests/verifier_validate_header.go
  cmd/iconbridge/chain/near/types/approval_message.go
  cmd/iconbridge/chain/near/types/block_notification.go
  cmd/iconbridge/chain/near/types/block_producer.go
  cmd/iconbridge/chain/near/types/common.go
  cmd/iconbridge/chain/near/types/header.go
  cmd/iconbridge/chain/near/types/receiver_options.go
  cmd/iconbridge/chain/near/verifier.go
  cmd/iconbridge/chain/near/verifier_test.go
  go.mod
  go.sum
Owners: @MuhammedIrfan, @CyrusVorwald-ICON
