Repository icon-project/icon-bridge, changes with the owners that CODEOWNERS names for each.
All owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz, @sdpisreddevil, @izyak, @manishbista28, @andrii-kl, @dwdraju

fix solidity
  .github/workflows/deploy-solidity-testnet.yml
  .github/workflows/deploy-testnet.yml
  .github/workflows/link-register-coin.yml
Owners: @dwdraju

feat: Improve BMR test coverage, BMR refactoring #399
  cmd/e2etest/chain/icon/api.go
  cmd/e2etest/chain/icon/parser.go
  cmd/e2etest/chain/icon/requests.go
  cmd/e2etest/chain/icon/types.go
  cmd/iconbridge/chain/icon/client.go
  cmd/iconbridge/chain/icon/client_test.go
  cmd/iconbridge/chain/icon/helper.go
  cmd/iconbridge/chain/icon/mocks/IClient.go
  cmd/iconbridge/chain/icon/mocks/IVerifier.go
  cmd/iconbridge/chain/icon/receiver.go
  cmd/iconbridge/chain/icon/receiver_core.go
  cmd/iconbridge/chain/icon/receiver_test.go
  cmd/iconbridge/chain/icon/register_relay.go
  cmd/iconbridge/chain/icon/sender.go
  cmd/iconbridge/chain/icon/types/types.go
  cmd/iconbridge/chain/icon/verifier.go
  cmd/iconbridge/chain/icon/verifier_test.go
  codecov.yml
  go.mod
  go.sum
Owners: @manishbista28, @andrii-kl, @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

refactor test cases
  cmd/iconbridge/chain/near/client.go
  cmd/iconbridge/chain/near/client_test.go
  cmd/iconbridge/chain/near/mock_api.go
  cmd/iconbridge/chain/near/receiver_test.go
  cmd/iconbridge/chain/near/sender_test.go
  cmd/iconbridge/chain/near/tests/get_bmc_status.go
  cmd/iconbridge/chain/near/tests/mock/data/contractsdata/bmc/c294b1A62E82d3f135A8F9b2f9cAEAA23fbD6Cf5.json
  cmd/iconbridge/chain/near/tests/mock/data/status/377840.json
  cmd/iconbridge/chain/near/tests/mock/default.go
  cmd/iconbridge/chain/near/tests/mock/factory.go
  cmd/iconbridge/chain/near/tests/mock/mock_api.go
  cmd/iconbridge/chain/near/tests/mock/storage.go
  cmd/iconbridge/chain/near/tests/monitor_receiver_block.go
  cmd/iconbridge/chain/near/tests/monitor_sender_block.go
  cmd/iconbridge/chain/near/tests/receiver_receive_blocks.go
  cmd/iconbridge/chain/near/tests/receiver_subscribe.go
  cmd/iconbridge/chain/near/tests/tests.go
Owners: @manishbista28, @andrii-kl

bmr deployment workflow with testnet with Github Actions
  .github/workflows/deploy-bmr.yml
  .github/workflows/deploy-javascore-testnet.yml
  .github/workflows/deploy-solidity-testnet.yml
  .github/workflows/deploy-testnet-workflow.yml
  .github/workflows/deploy-token-javascore.yml
  .github/workflows/link-register-coin.yml
  build/base/Dockerfile
  build/bmr/docker-compose.yml
Owners: @dwdraju, @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

Add test for query metadata of token / coin
  rust/near/bsh/bts/tests/test_coin_management.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

fix PRIVATE_KEY naming
  .github/workflows/link-register-coin.yml
Owners: @dwdraju

integration test on self-hosted
  .github/workflows/e2e_integretion_light_tests.yml
Owners: @dwdraju

add branch
  .github/workflows/e2e_integretion_light_tests.yml
Owners: @dwdraju

self hosted run
  .github/workflows/e2e_integretion_light_tests.yml
Owners: @dwdraju

increase core
  .github/workflows/e2e_integretion_light_tests.yml
Owners: @dwdraju

add 16 core
  .github/workflows/e2e_integretion_light_tests.yml
Owners: @dwdraju

chore: move pull request template to .github
  .github/pull_request_template.md
Owners: @dwdraju

self hosted
  .github/workflows/e2e_integretion_light_tests.yml
Owners: @dwdraju

trigger on 4 core
  .github/workflows/e2e_integretion_light_tests.yml
Owners: @dwdraju

remove cpus
  .github/workflows/e2e_integretion_light_tests.yml
Owners: @dwdraju

feat(bts): Add unit test coverage
  javascore/bts/src/test/java/foundation/icon/btp/bts/AbstractBTPTokenService.java
  javascore/bts/src/test/java/foundation/icon/btp/bts/BTSTest.java
Owners: @izyak, @sdpisreddevil

add background job
  cmd/e2etest/executor/executor.go
  cmd/e2etest/executor/executor_test.go
  cmd/e2etest/executor/flow.go
  cmd/e2etest/executor/points_generator.go
  cmd/e2etest/executor/scripts_configure.go
  cmd/e2etest/executor/scripts_transfer.go
  cmd/e2etest/executor/testsuite.go
  cmd/e2etest/executor/types.go
Owners: @manishbista28

run on integration-test
  .github/workflows/e2e_integretion_light_tests.yml
Owners: @dwdraju

15.12.0 setup node
  .github/workflows/e2e_integretion_light_tests.yml
Owners: @dwdraju

15.12.0 setup node
  .github/workflows/e2e_integretion_light_tests.yml
Owners: @dwdraju

15.12.0 setup node
  .github/workflows/e2e_integretion_light_tests.yml
Owners: @dwdraju

use yarn
  .github/workflows/e2e_integretion_light_tests.yml
Owners: @dwdraju

use yarn
  .github/workflows/e2e_integretion_light_tests.yml
Owners: @dwdraju

use yarn
  .github/workflows/e2e_integretion_light_tests.yml
Owners: @dwdraju

tune codecov
  .github/workflows/coverage.yml
  codecov.yml
Owners: @dwdraju, @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

more config
  codecov.yml
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

feat(bts): implement query method for coin / token metadata (#473)
  rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/tests/test_coin_management.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

add flowtest init
  cmd/e2etest/chain/bsc/api_test.go
  cmd/e2etest/chain/icon/api_test.go
  cmd/e2etest/example-config.json
  cmd/e2etest/executor/executor.go
  cmd/e2etest/executor/executor_test.go
  cmd/e2etest/executor/flow.go
  cmd/e2etest/executor/points_generator.go
  cmd/e2etest/executor/scripts_configure.go
  cmd/e2etest/executor/testsuite.go
  cmd/e2etest/executor/types.go
  cmd/e2etest/main.go
Owners: @manishbista28

add untested aggregated fee comparator
  cmd/e2etest/executor/flow.go
  cmd/e2etest/executor/scripts_configure.go
  cmd/e2etest/test-config.json
Owners: @manishbista28

fix: get bmc integration test to self hosted instance
  .github/workflows/e2e_integretion_light_tests.yml
Owners: @dwdraju

Change `tokenlimit` to `token_limit`
  rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/src/lib.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

style(bts): Change `tokenlimit` to `token_limit` (#487)
  rust/near/bsh/bts/src/coin_management.rs
  rust/near/bsh/bts/src/lib.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

discard fee aggregation watcher
  cmd/e2etest/executor/flow.go
  cmd/e2etest/executor/scripts_configure.go
  cmd/e2etest/executor/testsuite.go
Owners: @manishbista28

add migrate method
  rust/near/bsh/bts/src/lib.rs
  rust/near/bsh/bts/src/upgrade.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

feat(bts): add migrate method (#489)
  rust/near/bsh/bts/src/lib.rs
  rust/near/bsh/bts/src/upgrade.rs
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

checked transferbatch
  cmd/e2etest/chain/icon/requests.go
  cmd/e2etest/example-config.json
  cmd/e2etest/executor/flow.go
  cmd/e2etest/executor/points_generator.go
  cmd/e2etest/executor/scripts_transfer.go
  cmd/e2etest/executor/testsuite.go
Owners: @manishbista28

update bmc get status testdata
  cmd/iconbridge/chain/near/tests/get_bmc_status.go
  cmd/iconbridge/chain/near/tests/mock/data/contractsdata/bmc/c294b1A62E82d3f135A8F9b2f9cAEAA23fbD6Cf5.json
Owners: @manishbista28, @andrii-kl

Refactor test data
  cmd/iconbridge/chain/near/sender_test.go
  cmd/iconbridge/chain/near/tests/get_balance.go
  cmd/iconbridge/chain/near/tests/get_bmc_status.go
  cmd/iconbridge/chain/near/tests/mock/data/access_key/69c003c3b80ed12ea02f5c67c9e8167f0ce3b2e8020a0f43b1029c4d787b0d21.json
  cmd/iconbridge/chain/near/tests/mock/data/access_key/94a5a3fc9bc948a7f4b1c6210518b4afe1744ebe33188eb91d17c863dfe200a8.json
  cmd/iconbridge/chain/near/tests/mock/default.go
  cmd/iconbridge/chain/near/tests/mock/factory.go
  cmd/iconbridge/chain/near/tests/mock/mock_api.go
  cmd/iconbridge/chain/near/tests/mock/mock_api_factory.go
  cmd/iconbridge/chain/near/tests/mock/storage.go
  cmd/iconbridge/chain/near/tests/receiver_receive_blocks.go
  cmd/iconbridge/chain/near/tests/receiver_subscribe.go
  cmd/iconbridge/chain/near/tests/relay_tx_receipt.go
  cmd/iconbridge/chain/near/tests/relay_tx_send.go
  cmd/iconbridge/chain/near/tests/send_transaction.go
Owners: @manishbista28, @andrii-kl

update `go.mod` and `go.sum`
  go.mod
  go.sum
Owners: @CyrusVorwald-ICON, @bbist, @pragyanshrestha-ibriz

Change styling
  cmd/iconbridge/chain/near/api.go
  cmd/iconbridge/chain/near/client.go
  cmd/iconbridge/chain/near/tests/mock/mock_api_factory.go
Owners: @manishbista28, @andrii-kl

CODEOWNERS:

# global owners: used as fallback if nobody owns the code
* @CyrusVorwald-ICON @bbist @pragyanshrestha-ibriz

# solidity
/solidity/ @sdpisreddevil @izyak

# javascore
/javascore/ @izyak @sdpisreddevil

# golang
/cmd/ @manishbista28 @andrii-kl

# golang: iconbridge
/cmd/iconbridge/ @manishbista28 @andrii-kl

# golang: e2etest
/cmd/e2etest/ @manishbista28

# docs
/doc/ @pragyanshrestha-ibriz

# devops
.github/ @dwdraju
